
/* line 1 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/border.styl */

/* line 11 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 1 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 5 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 91 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 91 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 8 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/image.styl */

/* line 26 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 6 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 6 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 13 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 10 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line undefined : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 578 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Volumes/backpack/git/highfrequency/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Volumes/backpack/git/highfrequency/src/stylus/app.styl */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 7 : /Volumes/backpack/git/highfrequency/src/stylus/app.styl */
.header {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
}

/* line 14 : /Volumes/backpack/git/highfrequency/src/stylus/app.styl */
.content {
  padding-top: 100px;
  display: none;
  width: 1200px;
  margin: auto;
  color: #fff;
}

/* line 25 : /Volumes/backpack/git/highfrequency/src/stylus/app.styl */
.lineup {
  font-size: 80px;
}

/* line 33 : /Volumes/backpack/git/highfrequency/src/stylus/app.styl */
.about {
  font-size: 40px;
}

/* line 39 : /Volumes/backpack/git/highfrequency/src/stylus/app.styl */
.footer {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 44 : /Volumes/backpack/git/highfrequency/src/stylus/app.styl */
body {
  background: #121912;
  color: #fff;
  font-family: 'Indie Flower', cursive;
}

/* line 51 : /Volumes/backpack/git/highfrequency/src/stylus/app.styl */
.buy_now {
  position: absolute;
  left: 0;
  bottom: 0;
}
