*
  margin  0
  padding 0
  border  0
  

.header
  opacity 0
  
  fixed left 0 top 0
  
  background black
  
.content
  
  padding-top 100px
  
  display none
  
  width 1200px
  
  margin auto
  
  color white
.lineup
  
  // opacity 0
  // absolute left 0 top 200px
  
  font-size 80px
  

.about
  
  
  font-size 40px
  

.footer
  opacity 0
  
  absolute left 0 bottom 0

body
  background #121912
  
  color white
  
  font-family: 'Indie Flower', cursive;